*.class
/node_modules
Project/DS/BlackBook.txt
/Practice/WT/node_modules
Practice/WT/package-lock.json
package-lock.json
/Sem 2/AWT
/Sem2/AWT
Sem2/AIML/Assignment.py
Sem2/Practice/Nlp/practice.ipynb
Sem2/Practice/Nlp/practice.py
