body {
  margin: 1rem;
  display: flex;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  transition: all ease-in-out 0.2s;
  transform: scale(0.95);
  background-color: rgb(255, 95, 95);
}